<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>My Room</title>
    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 37.5vh);
        grid-auto-rows: 25vh;
        float: right;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

    <style>
      html,
      body,
      .grid-container {
        height: 100%;
        margin: 0;
      }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "videoDiv videoDiv videoDiv videosDiv" "videoDiv videoDiv videoDiv videosDiv" "videoDiv videoDiv videoDiv videosDiv";
      }

      .videosDiv {
        grid-area: videosDiv;
        overflow-y: auto;
      }

      .videoDiv {
        grid-area: videoDiv;
      }
    </style>

    <style>
      * {
        box-sizing: border-box;
      }

      /* Set height of body and the document to 100% */
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: Arial;
        color: black;
      }

      /* Style tab links */
      .tablink {
        background-color: #555;
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
      }

      .tablink:hover {
        background-color: #777;
      }

      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
      }

      #Home {
        background-color: #f1f1f1;
      }
      #News {
        background-color: #f1f1f1;
      }
      #Contact {
        background-color: #f1f1f1;
      }
      #About {
        background-color: #f1f1f1;
      }
    </style>

    <script>
      function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          [i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
    <script>
      function constructURL(embedCode, type) {
        return (
          "https://quizlet.com/" + embedCode + "/" + type + "/embed?x=1jj1"
        );
      }
    </script>
  </head>
  <body>
    <div class="grid-container">
      <div class="videosDiv">
        <div id="video-grid"></div>
      </div>
      <div class="videoDiv" style="background-color: #f1f1f1">
        <button class="tablink" onclick="openPage('Home', this, '#f1f1f1')">
          Textbook
        </button>
        <button
          class="tablink"
          onclick="openPage('News', this, '#f1f1f1')"
          id="defaultOpen"
        >
          Quizlet
        </button>
        <button class="tablink" onclick="openPage('Contact', this, '#f1f1f1')">
          Khan Academy
        </button>

        <div id="Home" class="tabcontent">
          <h3>Textbook</h3>
          <iframe src="" style="width: 100%; height: 90vh"></iframe>
        </div>

        <div id="News" class="tabcontent">
          <h3>Quizlet</h3>
          <iframe src="" style="width: 100%; height: 90vh"></iframe>
        </div>

        <div id="Contact" class="tabcontent">
          <h3>Khan Academy</h3>
          <iframe
            src="https://www.khanacademy.org/science/ap-biology"
            style="width: 100%; height: 90vh"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
